<div id="newpost">
  <div class="form-control">
    <%= form_for @post do |form| %>
      <%= form.label :message %>
      <%= form.text_field :message %>

      <%= form.submit %>
    <% end %>
  </div>
</div>
