body {
  background-image: url("https://www.freevector.com/uploads/vector/preview/18442/Free_Cartoon_Cow_Vector.png");
  background-color:rgb(200, 205, 203);
  background-repeat: repeat;
}

li {
  margin-left: 20px;
}

.navbar {
  font-family: Courier;
}

.navbar-nav > li > a {
  color: rgb(213, 215, 232);
}

.jumbotron {
  font-family: Comic Sans MS;
  background-color:rgba(177, 170, 170, 0.6) !important;
  text-align: center;
  margin-top: 20%;
}

.wall {
  background-color: rgba(219, 217, 208, 0.53);
}


.wrapper, .row {
   height: 100%;
   margin-left:0;
   margin-right:0;
}

.wrapper:before, .wrapper:after,
.column:before, .column:after {
    content: "";
    display: table;
}

.wrapper:after,
.column:after {
    clear: both;
}

.panel-default .panel-body {
  background-color:rgba(231, 225, 233, 0.92);
  color:#555555;
  margin-top: 5%;
  padding-top: 3%;
  padding-left: 5%;
  padding-right: 5%;
  border-radius: 5px;
}

.panel textarea, .well textarea, textarea.form-control
{
   resize: none;
}

#posts {
  font-family: Comic Sans MS;
}

#comment a {
  float: right;
}

#edit_delete {
  text-align: right;
}

#time {
  text-align: right;
}

#likes {
  color:rgb(110, 173, 230);
}

a:link {
  color:rgba(127, 122, 134, 0.8);
}

input {
  width: 100%;
}

#wall {
  font-family: Comic Sans MS;
}

h1 {
  text-align: center;
  background-color: rgba(#f1bcba, 0.82);
  border-radius: 5px;
}

h2 {
  text-align: center;
  background-color: rgba(231, 225, 233, 0.92);
  border-radius: 5px;
}

#newpost {
  background-color: rgba(241, 188, 186, 0.82);
  padding-bottom: 20%;
  padding-top: 15%;
  padding-left: 5%;
  padding-right: 5%;
  text-align: center;
  font-family: Comic Sans MS;
  font-size: 20px;
  border-radius: 15px;
}





@import "bootstrap";
