body {
  background-color: #B9D3B8 !important;
}

li {
  margin-left: 20px;
}

.navbar {
  font-family: Courier;
}

.navbar-nav > li > a {
    color: rgb(213, 215, 232);
}

.container {
  text-align: center;
  font-family: Comic Sans MS;
}

.container img{
  opacity: 0.8;
  width: 45%;
}


@import "bootstrap";
